
    .collapseAbout{
        display : flex;
        align-items : center ; 
        justify-content : space-between;
        margin : 20px 150px 0px 150px;
        background-color : #FF6060;
        color : white;
        height : 52px;
        padding : 10px;
        border-radius : 5px;
        cursor : pointer;
    }

    .collapseAboutContent{
        margin : 0px 150px 35px 150px;
        background-color : #F6F6F6;
        padding : 20px;
    }

    .homeCollapse{
        display : flex;
        justify-content : space-between;
        margin : 20px 100px 20px 80px ;
        
        
    }

    .collapse-home-header{
        display : flex;
        flex-direction : row;
        align-items : center;
        justify-content : space-between;
        background-color : #FF6060;
        color : white;
        cursor : pointer;
        height : 52px;
        border-radius : 5px;
        padding : 10px;
        width : 100%;
    }

    .collapse-home-content{
        padding : 20px;
        background-color : #F6F6F6;
        li{
            list-style: none;
    }}

    .homeCollapseLeft, .homeCollapseRight{
        width : 100%;
        margin-left : 20px;
        margin-bottom : 20px;
    }

    

@media (max-width : 719px) and (min-width : 319px){

    .collapseAbout{
        margin : 20px 20px 0 20px;
    }

    .collapseAboutContent{
        margin : 0px 20px 30px 20px;
    }

    .homeCollapse{
        display : flex;
        flex-direction : column;
    }

    .collapse-home-header{
        width : 100%;
    }

    .collapse-home-content{
        margin : 0px  20px 20px 10px;
        padding : 20px;
    }

    .homeCollapseLeft, .homeCollapseRight{
        width : calc(100% - 40px);
}


}


