
    .collapseAbout{
        display : flex;
        align-items : center ; 
        justify-content : space-between;
        margin : 20px 150px;
        background-color : rgba(255,96,96,1);
        color : white;
        height : 52px;
        padding : 10px;
        border-radius : 5px;
        cursor : pointer;
    }

    .collapseAboutContent{
        margin : 20px 160px 35px 160px;
    }

    .homeCollapse{
        display : flex;
        justify-content : start;
        margin : 20px 0;
        
        
    }

    .collapse-home-header{
        display : flex;
        flex-direction : row;
        align-items : center;
        justify-content : space-between ;
        margin : 20px 100px;
        background-color : rgba(255,96,96,1);
        color : white;
        cursor : pointer;
        height : 52px;
        border-radius : 5px;
        padding : 10px;
    }

    .collapse-home-content{
        margin : 20px 110px;
        li{
            list-style: none;
    }}

    .homeCollapseLeft, .homeCollapseRight{
        width : calc(100% - 100px);
    }

    

@media (max-width : 719px) and (min-width : 319px){

    .collapseAbout{
        margin : 20px;
    }

    .collapseAboutContent{
        margin : 20px 20px 30px 20px;
    }

    .homeCollapse{
        display : flex;
        flex-direction : column;
    }

    .collapse-home-header{
        margin : 20px;
        width : 100%;
    }

    .collapse-home-content{
        margin : 20px;
    }

    .homeCollapseLeft, .homeCollapseRight{
        width : calc(100% - 40px);
}
}


