*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    width : 100%;
    font-family : 'Monserrat', sans-serif;
}

@media (min-width : 1441px){
    
    body{
        width : 1440px;
        margin : 0 euto
        }
}


